<%= simple_form_for [@member, @ship, @crew] do |f| %>
  <% if @member != nil %>

      <%= f.label :'Tripulante'%>
      <br>
      <% @crew.member = @member %>
      <%= Member.find(@crew.member_id).name %>
      <br>

  <% if @ship != nil %>
  <h2 class="text-center"><i class="fas fa-anchor text-secondary"></i> Criar tripulação</h2>
      <%= f.label :'Tripulante'%>
      <br>
      <%= f.collection_select :member_id,
        Member.order(:name),
        :id,
        :name,
        include_blank: false,
        selected: params[:selected_member_id]
      %>

      <br>




      <%# <%= f.label :'Embarcação'%>
      <br>
      <% @crew.ship_id = @ship.id %>
      <%= Ship.find(@crew.ship_id).name %>
      <br>
  <% else %>
     <%= f.label :'Embarcação'%>
      <br>
      <%= f.collection_select :ship_id,
        Ship.order(:name),
        :id,
        :name,
        include_blank: false
      %>


  <% end %>

  <% else %>

      <%= f.label :'Tripulante'%>
      <br>
      <%= f.collection_select :member_id,
        Member.order(:name),
        :id,
        :name,
        include_blank: false,
        selected: params[:selected_member_id]
      %>

  <% end %>

  <br>
  <br>


  <div class="mt-4">
    <%= f.input :date_ini, as: :date, label: "Data Inicial" %>
    <%= f.input :date_fin, as: :date, label: "Data Final" %>
    <%= f.input :role, label: "Função" %>
    <%= f.button :submit, "Salvar", class: "btn btn-primary mr-2 text-center" %>
     <%=link_to 'Voltar', :back, class: "btn btn-secondary text-center" %>
    <br>
    <% if @ship != nil %>
      <%= link_to 'Criar tripulante', new_member_path(ship_id: @ship.id), class: "btn btn-info text-center mt-4" %>
    <%end%>

  </div>
<% end %>
