<%= simple_form_for(@crew) do |f| %>

  <% url = url_for(:back) %>

  <div class="form-group justify-content-center">
    <% if url.include? '/members/' %>
      <%= f.label :'Tripulante:' %>
      <br>

      <% n = url.index('/members/')+9 %>
      <%# <%= url[n..url.length].to_i %>

      <% @crew.member_id = Member.find(url[n..url.length].to_i).id %>
      <%= Member.find(@crew.member_id).name %>
    <% else %>
      <%= f.label :'Tripulante' %>
      <br>
      <%= f.collection_select :member_id,
        Member.order(:name),
        :id,
        :name,
        include_blank: false
      %>
    <% end %>    
  </div>

  <div class="form-group justify-content-center">
    <% if url.include? '/ships/' %>
      <%= f.label :'Embarcação:' %>
      <br>

      <% n = url.index('/ships/')+7 %>
      <%# <%= url[n..url.length].to_i %>

      <% @crew.ship_id = Ship.find(url[n..url.length].to_i).id %>
      <%= Ship.find(@crew.ship_id).name %>
    <% else %>
      <%= f.label :'Embarcação:' %>
      <br>
      <%= f.collection_select :ship_id,
        Ship.order(:name),
        :id,
        :name,
        include_blank: false
      %>
    <% end %>    
  </div>

    
  
  <div class="form-group justify-content-center">
    <%= f.label :'Data Inicial' %>
    <br>
    <%= f.date_field :date_ini %>
  </div>

  <div class="form-group justify-content-center">
    <%= f.label :'Data Final' %>
    <br>
    <%= f.date_field :date_fin %>
  </div>

  <div class="form-group justify-content-center">
    <%= f.label :Função %>
    <br>
    <%= f.text_field :role%>
  </div>

  <%= f.button :submit, "Salvar", class: "btn btn-success text-center" %>

<% end %>
