<h2 class="text-center"><i class="fas fa-anchor text-secondary"></i> Tripulação <%= @crew.id %></h2>

<div class="card p-4 mb-3 mt-3">
  <div class="text-dark">
    <p>
  <% if @crew.member_id %>
    <strong>Nome: </strong><%= Member.find(@crew.member_id).name %>
  <% end %>
</p>
<p>
  <% if @crew.ship_id %>
    <strong> Embarcação: </strong><%= Ship.find(@crew.ship_id).name %>
  <% end %>
</p>
<p>
  <% if @crew.date_ini %>
    <strong> Início: </strong><%= @crew.date_ini %>
  <% end %>
</p>
<p>
  <% if @crew.date_fin %>
    <strong> Final: </strong><%= @crew.date_fin %>
  <% end %>
</p>
<p>
  <% if @crew.role %>
    <strong>Função: </strong><%= @crew.role %>
  <% end %>
</p>
  </div>
</div>


<%=link_to "Editar", edit_crew_path, class: "btn btn-warning mr-2" %>
<%=link_to "Voltar", :back, class: "btn btn-secondary" %>
<%#= link_to "Deletar", member_crew_path(@crew), method: :delete, data: { confirm: "Está certo disso?" }, class: "btn btn-success m-4" %>

<% if params[:member_id] != nil %>
  <%= link_to "Lista de tripulações do Tripulante", member_crews_path, class: "btn btn-primary mr-2" %>
<% end  %>
<% if params[:ship_id] != nil %>
  <%= link_to "Lista de tripulações da Embarcação", ship_crews_path, class: "btn btn-primary mr-2" %>
<% end  %>
