<h3 class="text-center"><i class="fas fa-user text-secondary"></i> Perfil de <%=current_user.name%></h3>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Não preencha caso não queira alterar a senha",
                required: false,
                input_html: { autocomplete: "new-password" },
                label: "Nova senha"%>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                label: "Confirme a nova senha"%>
    <%= f.input :current_password,
                hint: "Coloque a senha atual",
                required: true,
                input_html: { autocomplete: "current-password" },
                label: "Senha atual"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar", class:"btn btn-primary mb-2" %>
  </div>
<% end %>

<%= link_to "Voltar", :back, class:"btn btn-info pl-6 pr-6 mb-2" %>
