<h2 class="text-center"><i class="fas fa-user-plus text-secondary"></i> Registre-se</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" },
                label: "Nome"%>

        <%= f.input :matricula,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "matricula" },
                label: "Matrícula"%>

        <%= f.input :cpf,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "cpf" },
                label: "CPF"%>

        <%= f.input :lotacao,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "lotacao" },
                label: "Lotação"%>

      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "e-mail" }%>

      <%= f.input :password,
                  required: true,
                  hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                label: "Senha"%>

      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                label: "Confirme a senha"%>
    </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrar", class:"btn btn-primary mb-2" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
