<%= simple_form_for(@ship) do |f| %>

    <div class="form-group justify-content-center">
      <%= f.label "Nome" %>
      <br>
      <%= f.text_field :name %>
    </div>

    <div class="form-group justify-content-center">
      <%= f.label "Registro" %>
      <br>
      <%= f.text_field :registration %>
    </div>

    <div class="form-group justify-content-center">
      <%= f.label "Porto de registro" %>
      <br>
      <%= f.text_field :registration_port %>
    </div>

    <div class="form-group justify-content-center">
      <%= f.input :photo, as: :file, label: "Foto" %>
    </div>

    <div class="form-group justify-content-center">
      <%= f.input :photo, as: :file, label: "Foto" %>
    </div>

    <%= f.button :submit, "Salvar", class: "btn btn-primary btn-lg text-center" %>

    <%=link_to "Voltar", ship_path(@ship), class: "btn btn-info btn-lg"%>

   <% end %>
