<h1>Buscar embarcação</h1>

<div class="container-form d-flex justify-content-center text-center">
  <div class="form-new-product text-center w-40 h-100 p-3">
    <%= form_tag ships_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Insira nome ou registro"
    %>
    <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
    <%= link_to "Limpar Pesquisa", request.path, class:"cancel-button" %>
    <% end %>

  </div>
  <div>
      <%=link_to "Novo", new_ship_path, class: "btn btn-success m-4"%>
  </div>
</div>


<div>
  <%# <% if query.present? %>
    <% @ships.each do |ship| %>
      <h4>Nome: <%= ship.name %></h4>
      <p>Registro: <%= ship.registration %></p>
    <% end %>
  <%# <% else %>
    <%# <%= return "" %>
</div>
