<h2 class="text-center"><i class="fas fa-ship text-secondary"></i> Buscar embarcação</h2>

<%# <div class="container-form d-flex justify-content-center text-center">
  <div class="form-new-product text-center w-40 h-100 p-3"> %>
    <%= form_tag ships_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Insira nome, registro ou porto de registro"
    %>

    <div class="text-center p-4">
      <%= submit_tag "Pesquisar", class: "btn btn-primary mr-2 mb-2" %>
      <%= link_to "Limpar Pesquisa", request.path, class:"cancel-button btn btn-primary mb-2 mr-2" %>
      <%=link_to "Novo", new_ship_path, class: "btn btn-success mr-2 mb-2"%>
    </div>
   <% end %>


<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6">
      <% @ships.each do |ship| %>
        <div class="card p-3 mb-3">
          <div class="d-flex justify-content-between text-dark">
          <h4><strong class="text-secondary">#</strong><%= ship.name %></h4>
          <h4><strong class="text-secondary">n° </strong><%= ship.registration %></h4>
          </div>
          <%=link_to "Detalhes", ship_path(ship), class: "btn btn-primary m-4"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
