<h2 class="text-center"><i class="fas fa-paste"></i> Buscar embarcação</h2>

<div class="container-form d-flex justify-content-center text-center">
  <div class="form-new-product text-center w-40 h-100 p-3">
    <%= form_tag ships_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Insira nome ou registro"
    %>
    <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
    <%= link_to "Limpar Pesquisa", request.path, class:"cancel-button" %>
    <% end %>

  </div>
  <div>
      <%=link_to "Novo", new_ship_path, class: "btn btn-success m-4"%>
  </div>
</div>


<div>
  <% @ships.each do |ship| %>
    <h4>Nome: <%= ship.name %></h4>
    <p>Registro: <%= ship.registration %></p>
    <%=link_to "Detalhes", ship_path(ship), class: "btn btn-primary m-4"%>
  <% end %>
</div>
