<h1>Index</h1>

<%# <div class="container-form d-flex justify-content-center text-center">
  <div class="form-new-product text-center w-40 h-100 p-3">
    <%= simple_form_for(@ship) do |f| %>

    <%# <div class="form-group justify-content-center">
      <%= f.label "Nome" %>
      <%# <br> %>
      <%# <%= f.text_field :name %>
    <%# </div> %>

    <%# <div class="form-group justify-content-center"> %>
      <%# <%= f.label "Registro" %>
      <%# <br> %>
      <%# <%= f.text_field :registration %>
    <%# </div> %>

    <%# <%= f.button :submit, "Incluir", class: "btn btn-success text-center" %>
    <%# <% end %>

  <%# </div> %>
  <div>
      <%=link_to "Pesquisar", "", class: "btn btn-success m-4"%>
      <%=link_to "Novo", new_ship_path, class: "btn btn-success m-4"%>
  </div>
  </div>
</div>
