<div class="title text-center m-2"><h3>Incluir embarcação</h3><%=link_to "", root_path, class: "fas fa-home house"%></div>


<div class="container-form d-flex justify-content-center text-center">
  <div class="form-new-product text-center w-40 h-100 p-3">
    <%= simple_form_for(@ship) do |f| %>

    <div class="form-group justify-content-center">
      <%= f.label "Nome" %>
      <br>
      <%= f.text_field :name %>
    </div>

    <div class="form-group justify-content-center">
      <%= f.label "Registro" %>
      <br>
      <%= f.text_field :registration %>
    </div>

    <div class="form-group justify-content-center">
      <%= f.label "Porto de registro" %>
      <br>
      <%= f.text_field :registration_port %>
    </div>


    <div class="form-group justify-content-center">
      <%= f.input :photo, as: :file, label: "Foto" %>
    </div>

    <%= f.button :submit, "Incluir", class: "btn btn-success text-center" %>
   <% end %>

  </div>
</div>
