<h1 class="text-center"><%= @ship.name %></h1>

<div class="container-form text-center d-flex justify-content-center p-4">
<div class="card">
  <%# <div class="form-login text-center mr-1"> %>
    <div class="d-flex justify-content-between">
    <% if @ship.photo.attached? %>
      <%= cl_image_tag @ship.photo.key, height: 300, width: 400, crop: :fill, class:"pb-4 rounded" %>
    <%else%>
      <i class="fas fa-file-upload upload"></i>
    <%end%>

  </div>
  <div class="form-login text-left p-4 text-dark">
    <p>Registro: <%=@ship.registration%> </p>
    <p>Porto de Registro: <%=@ship.registration_port%></p>
  </div>
  </div>
</div>

<div class="text-center">

  <div class="p-4">
  <%=link_to "Criar Tripulação para esta Embarcação", new_ship_crew_path(@ship), class: "btn btn-primary btn-lg"%>
  </div>

  <div class="p-4">
  <%=link_to "Lista de Tripulações da Embarcação", ship_crews_path(@ship), class: "btn btn-primary btn-lg"%>
  </div>

  <div>
  <%=link_to "Voltar", ships_path, class: "btn btn-danger btn-lg"%>
  <%=link_to "Editar", edit_ship_path(@ship), class: "btn btn-primary btn-lg"%>
  </div>
  <%#=link_to "Excluir", ship_path(@ship), method: :delete, data: { confirm: "Confirma a exclusão?" }, class: "btn btn-danger m-4"%>
</div>
