<h2 class="text-center"><i class="fas fa-ship text-secondary"></i> <%= @ship.name %></h2>

<div class="container-form text-center d-flex justify-content-center p-4">
<div class="card">
  <%# <div class="form-login text-center mr-1"> %>
    <div class="d-flex justify-content-between">
    <% if @ship.photo.attached? %>
      <%= cl_image_tag @ship.photo.key, height: 300, width: 400, crop: :fill, class:"pb-4 rounded" %>
    <%else%>
    <div class="card-img-top p-3">
      <i class="fas fa-file-upload upload cover"></i>
    </div>
    <%end%>

  </div>
  <div class="form-login text-left p-4 text-dark">
    <p><strong>Registro: </strong><%=@ship.registration%> </p>
    <p><strong>Porto de Registro: </strong><%=@ship.registration_port%></p>
  </div>
  </div>
</div>

<div class="text-center">

  <div class="pb-3">
    <%=link_to "Criar tripulação", new_ship_crew_path(@ship), class: "btn btn-info"%>
  </div>

  <div class="pb-3">
    <%=link_to "Lista de tripulantes", ship_crews_path(@ship), class: "btn btn-primary"%>
  </div>

  <div>

  <%=link_to "Editar", edit_ship_path(@ship), class: "btn btn-warning mr-2"%>
  <%=link_to "Voltar", ships_path, class: "btn btn-secondary mr-2"%>
  </div>
  <%#=link_to "Excluir", ship_path(@ship), method: :delete, data: { confirm: "Confirma a exclusão?" }, class: "btn btn-danger m-4"%>
</div>
