<div class="border-bottom">
  <a href="<%= occurrence_path(occurrence) %>"><p class="text-center text-warning"><strong><i class="fas fa-info-circle"></i> Detalhes</strong></p></a>
</div>
<div class="text-left text-dark mt-2">
  <p><strong>Data:</strong> <%=occurrence.date %></p>
  <p><strong>Horário:</strong> <%=occurrence.time.to_s[11...19]%></p>
  <p><strong>Embarcação:</strong> <%= link_to Ship.where(id: occurrence.ship_id).first.name, ship_path(occurrence.ship_id)%></p>
  <% unless occurrence.ship_origin.nil?%>
    <p><strong>Origem:</strong> <%=occurrence.ship_origin %></p>
  <%end%>
  <% unless occurrence.ship_destination.nil?%>
    <p><strong>Destino:</strong> <%=occurrence.ship_destination %></p>
  <%end%>
</div>
