<h1 class="text-center">Número da Ocorrência: <%= @occurrence.id %></h1>
<div class="container-form text-center d-flex justify-content-center p-4">
<div class="card">
  <%# <div class="form-login text-center mr-1"> %>
    <div class="d-flex justify-content-between">
    <% if @occurrence.ship.photo.attached? %>
      <%= cl_image_tag @occurrence.ship.photo.key, height: 300, width: 400, crop: :fill, class:"pb-4 rounded" %>
    <%else%>
    <div class="card-img-top p-3">
      <i class="fas fa-file-upload upload cover"></i>
    </div>
    <%end%>

  </div>
  <div class="form-login text-left p-4 text-dark">
    <p>Embarcação: <%=@occurrence.ship.name%> </p>
    <p>Registro da Embarcação: <%=@occurrence.ship.registration%> </p>
    <p>Data: <%=@occurrence.date%></p>
    <p>Hora: <%=@occurrence.time%></p>
    <p>Latitude: <%=@occurrence.latitude%></p>
    <p>Longitude: <%=@occurrence.longitude%></p>
    <p>Origem: <%=@occurrence.ship_origin%></p>
    <p>Destino: <%=@occurrence.ship_destination%></p>
    <p>Descrição: <%=@occurrence.description%></p>
  </div>
  </div>
</div>

<div class="text-center">
  <%=link_to "Voltar", occurrences_path, class: "btn btn-danger btn-lg"%>
</div>
