<!DOCTYPE html>
<html>
  <head>
    <title>Base de Dados - NEPOM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container pt-4 mt-5">
      <div class="row justify-content-center pt-5">
        <div class="col-12 col-lg-8">
          <%= yield %>
        </div>
      </div>
      <%= render 'shared/footer' %>
      <%= render 'shared/flashes' %>
    </div>
  </body>
</html>
