<%= simple_form_for(@member) do |f| %>

  <div class="form-group justify-content-center">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div class="form-group justify-content-center">
    <%= f.label :CPF %>
    <br>
    <%= f.text_field :CPF %>
  </div>

  <div class="form-group justify-content-center">
    <%= f.label :birth %>
    <br>
    <%= f.date_field :birth%>
  </div>

  <div class="form-group justify-content-center">
    <%= f.label :license_number %>
    <br>
    <%= f.text_field :license_number%>
  </div>

  <div class="form-group justify-content-center">
    <%= f.label :doc_number %>
    <br>
    <%= f.text_field :doc_number%>
  </div>

  <div class="form-group justify-content-center">
    <%= f.label :doc_type %>
    <br>
    <%= f.text_field :doc_type%>
  </div>

  <%= f.button :submit, "Salvar", class: "btn btn-success text-center" %>

<% end %>
