<h2 class="text-center"><i class="fas fa-anchor text-secondary"></i> Buscar tripulante</h2>

<%# <% @members.each do |member| %>
  <%# <%=link_to "#{member.name}", member_path(member), class: "btn-primary m-4"%>
<%# <%end%>

<%= form_tag members_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Insira nome, CPF ou n° documento"
  %>
  <div class="text-center p-4">
    <%= submit_tag "Pesquisar", class: "btn btn-primary mb-2 mr-2" %>
    <%= link_to "Limpar Pesquisa", request.path, class:"cancel-button btn btn-primary mb-2 mr-2" %>
    <%=link_to "Novo", new_member_path, class: "btn btn-info mb-2"%>
  </div>
<% end %>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6">
      <% @members.each do |member| %>
        <div class="card p-3 mb-3 text-dark">
          <h4><strong class="text-secondary">#</strong><%= member.name %></h4>
          <%=link_to "Detalhes", member_path(member), class: "btn btn-primary m-4"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
