<h2 class="text-center"><i class="fas fa-anchor text-secondary"></i> Criar tripulante</h2>

<%= simple_form_for(@member) do |f| %>
    <%= f.hidden_field :ship_id, value: params[:ship_id] %>
    <%= f.input :name, label: "Nome" %>
    <%= f.input :CPF, label: "CPF" %>
    <%= f.input :birth, as: :date, start_year: 1920, label: "Data de nascimento" %>
    <%= f.input :license_number, label: "Número da licença" %>
    <%= f.input :doc_number, label: "Número do documento" %>
    <%= f.input :doc_type, label: "Tipo de documento" %>
    <%= f.input :photo, as: :file, label: "Foto" %>
    <%= f.button :submit, "Salvar", class: "btn-primary text-center" %>
    <%= link_to 'Voltar', :back, class:"btn btn-info mt-2 ml-2 mb-2" %>
<% end %>
