<h2 class="text-center"><i class="fas fa-anchor text-secondary"></i> Tripulante <%= @member.id %></h2>


<div class="container-form text-center d-flex justify-content-center p-4">

  <div class="card">

    <div class="d-flex justify-content-between">

      <% if @member.photo.attached? %>
        <%= cl_image_tag @member.photo.key, height: 300, width: 400, crop: :fill, class:"pb-4 rounded" %>
      <%else%>
        <div class="card-img-top p-3">
          <i class="fas fa-file-upload upload cover"></i>
        </div>
      <%end%>

    </div>

    <div class="form-login text-left p-4 text-dark">

      <h5><strong>#</strong><%= @member.name %></h5>
      <p><strong>CPF: <%= @member.CPF %></p>
      <p><strong>Nascimento: </strong><%= @member.birth.strftime("%d/%m/%Y") %></p>
      <p><strong>Licença: </strong><%= @member.license_number %></p>
      <p><strong>Tipo de Doc.: </strong><%= @member.doc_type %></p>
      <p><strong>N° Doc.: </strong><%= @member.doc_number %></p>

    </div>
  </div>
</div>

<div class="text-center">
  <div class="p-4">
    <%=link_to "Lista de embarcações do tripulante", member_crews_path(@member), class: "btn btn-primary"%>
  </div>
  <div>
    <%=link_to "Editar", edit_member_path(@member), class: "btn btn-warning mr-2"%>
    <%#= link_to "Deletar", member_path(@member), method: :delete, data: { confirm: "Está certo disso?" }, class: "btn btn-success m-4" %>
    <%=link_to "Voltar", members_path, class: "btn btn-secondary ml-2"%>
  </div>
</div>
