<h2 class="text-center"><i class="fas fa-anchor"></i> Tripulante <%= @member.id %></h2>


<div class="container-form text-center d-flex justify-content-center p-4">

  <div class="card">

    <div class="d-flex justify-content-between">

      <% if @member.photo.attached? %>
        <%= cl_image_tag @member.photo.key, height: 300, width: 400, crop: :fill, class:"pb-4 rounded" %>
      <%else%>
        <div class="card-img-top p-3">
          <i class="fas fa-file-upload upload cover"></i>
        </div>
      <%end%>

    </div>

    <div class="form-login text-left p-4 text-dark">

      <p>Nome: <%= @member.name %></p>
      <p>CPF: <%= @member.CPF %></p>
      <p>Data de Nascimento: <%= @member.birth %></p>
      <p>Licença: <%= @member.license_number %></p>
      <p>Tipo de Documento: <%= @member.doc_type %></p>
      <p>Número do Documento: <%= @member.doc_number %></p>

    </div>  
  </div>
</div>

<div class="text-center">

  <%# <div class="p-4"> %>
    <%#= link_to "Criar Tripulação para o Tripulante", new_member_crew_path(@member), class: "btn btn-primary  btn-lg" %>
  <%# </div>
  
  <div class="p-4"> %>
    <%#=link_to "Lista de Tripulações do Tripulante", member_crews_path(@member), class: "btn btn-primary btn-lg"%>
  <%# </div> %>

  <div>
    <%=link_to "Editar", edit_member_path(@member), class: "btn btn-primary btn-lg"%>
    <%#= link_to "Deletar", member_path(@member), method: :delete, data: { confirm: "Está certo disso?" }, class: "btn btn-success m-4" %>
    <%=link_to "Voltar", root_path, class: "btn btn-danger btn-lg"%>
  </div>
</div>
